/* Application Theme */

/* Colors */

$colorPrimary: #fff;
$colorSecondary: #000;
$colorGrayLight: #e2e2e2;
$colorGrayDark: #333;
$colorTextLight: #5d5d5d;
$colorBorder: #d9d9d9;
$colorLink: #05549c;

// Form Elements

$colorActive: #40a9ff;
$colorActiveOutline: rgba(24, 144, 255, 0.2);
